@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.topNavBar {
    padding: 10px 20px;
}

.page-container{
    background-color: #f5f5f5;
}

section {
    padding: 50px 0;
}

.center {
    text-align: center;
}

.profile-photo {
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    /*object-fit: cover;*/
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 5px;
}

.skills {
    margin: 0;
}

.about-photo{
    max-height: 300px;
}

.project-img{
    max-height: 250px;
}
